<p>Olá <%= @resource.email %>!</p>

<p>Alguém solicitou o link para modificação da senha. Você pode fazer isso clicando no link abaixo.</p>

<p><%= link_to 'Modificar senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se você não requisitou a mudança, por favor ignorar este email.</p>
<p>Sua senha não mudará até que você acesse o link e crie uma nova.</p>
