<h1>Informações uteis sobre a monitoria</h1>
<p><strong> O pré-requisito para ser monitor é ter sido aprovado na matéria. </strong></p>
<p><strong>A atividade de monitoria não concede menções (apenas gera 2 créditos por matéria ao aluno) e se divide em 2 tipos: não remunerada e remunerada.
</strong></p>
<p><b>Monitoria Não Remunerada </b></p>
<p><strong> Será ofertada para todos os alunos que escolheram monitoria voluntária ou que solicitaram a monitoria remunerada e foram recusados por insuficiência de bolsas.</strong></p>
<p><b>Monitoria Remunerada </b></p>
<p><strong> Para um aluno ser selecionado para exercer uma atividade de monitoria remunerada precisa preencher os seguintes requisitos: </strong></p>
<p><strong>(inserir as regras de escolha de bolsas aqui.) </strong></p>
<p><strong>É importante ressaltar que algumas dessas regras podem variar de departamento para departamento.</strong></p>
