<h1>Informações uteis sobre a monitoria</h1>

<p><strong> O pré-requisito para ser monitor é ter sido aprovado na matéria. </strong></p>
<p><strong>A atividade de monitoria concede menção Crédito Concedido (CC), que equivale a módulo livre, e se divide em 3 tipos:somente não remunerada, somente remunerada e remunerada/nao remunerada. 
</strong></p>
<p><strong>O aluno pode se candidatar a diversas monitorias porém, receberá somente 1 bolsa (caso disponível), e somente receberá créditos referentes a 1 matéria.</strong></p>
<p><b>Monitoria Somente Não Remunerada </b></p>
<p><strong> Será ofertada para todos os alunos que escolheram monitoria voluntária.</strong></p>
<p><b>Monitoria Somente Remunerada </b></p>
<p><strong> Para um aluno ser selecionado para exercer uma atividade de monitoria remunerada precisa preencher os seguintes requisitos: </strong></p>
<p><strong>1- Primeiro, será alocada uma bolsa para cada disciplina obrigatória </strong></p>
<p><strong>2- Caso sobre bolsas, será alocada uma bolsa para as disciplinas optativas com maior quantidade de alunos </strong></p>
<p><strong>3 - Caso mesmo assim sobrem bolsas, voltar alocando mais uma bolsa para cada disciplina obrigatória.</strong></p>
<p><strong>4 - O critério sempre considera primeiro a disciplina com maior numero de alunos </strong></p>
<p><b>Remunerada/não remunarda </b></p>
<p><strong>Para um aluno que solicitar essa opcao será ofertado, caso haja disponibilidade, a monitoria remunerada. Caso foi recusado por insuficiência de bolsas, será ofertada a monitoria não remunerada.</strong></p>
<p><strong>É importante ressaltar que algumas dessas regras podem variar de departamento para departamento.</strong></p>
