<body style="background-color: lightblue;">
<font face="Arial">  <h1><center> Bem-vindo a Monitoria </center> </h1> </font>


<p><strong><b>
<%= link_to 'Dicente', new_aluno_path%>
</b></strong></p>

<p><strong><b>
<%= link_to 'Mais informacoes sobre monitoria' %>
</b></strong></p>

<p><strong><b>
<%= link_to 'Professor' %>	
</b></strong></p>

<br>
</body>



