<h1>Lista de turmas</h1>

<% @docente = Docente.where(user_id: current_user.id) %>
<table>
  <tr bgcolor="6B9A8C">
    <th>Turmas do docente</th>

  </tr>
<% @docente.each do|docente| %>
    <% turma = docente.turmas %>
    <% turma.each do|turma| %>
<tr>
    <th><%= Disciplina.find(turma.disciplina_id).nome %>  <%= link_to 'Turma: ', controller: "docentes", action: 'listar', id: turma.id %><%= link_to turma.nome, controller: "docentes", action: 'listar', id: turma.id %></th>
</tr>
    <% end %>
<% end %>

</table>
</body>
