@import "materialize";
@import "materialize/extras/nouislider";

body {
 font-family: Arial, sans-serif;
 font-weight: bold;
 margin-left: auto;
 margin-right: auto;
 margin-top: 30px;
 padding: 0;
 align-items: center;
 width: 50%;
 background-image: url("https://matriculaweb.unb.br/matriculaweb/imagens/fundo_main.gif");

 }

 table, th, td {
    margin-top: 50px;
     border: 1px solid rgba(0,0,0,0.21);
     border-collapse: collapse;
		 margin-left: auto;
		 margin-right: auto;
 }
 th, td {
     padding: 5px;
     text-align: left;
 }

.iconeUNB{
	position:relative;
	margin-bottom: 10px;
}

.container {
 padding: 0;
 width: 100%;
}

.form {
  text-align:left;
  margin: 0 auto 10px;
  padding: 75px 0 10px 0;
  font-size: 16px;
  width: 400px;
}

h1{
  text-align: center;
  color: rgba(0,0,0,0.21);
	position: relative;
	margin-top: 100px;
}

input[type=text]{color: black;}
input[type=email]{color:black;}
input[type=password]{color:black;}
input[type=number] {
  color:black;
  width: 100%;
  border: 1px solid #E6E6E6;
  border-radius: 0px;
  height: 60px;
  margin: 6px auto;
  text-indent: 10px;
}

nav{
	background-color: rgba(0,0,0,0.19);
	position: relative;
	text-transform: uppercase;
	margin: 10px;
}

.btn-submit {
  color: #FFFFFF;
  font-size: 14px;
  text-transform: uppercase;
  background: rgba(0,0,0,0.21);
  padding: 10px 20px;
  border: 0;
  margin-top: 6px;
}
.btn-submit:hover{
  background: rgba(0,0,0,0.31);
}

/* HEADER */

.pull-right {
  position: absolute;
	margin-top: 0px;
}

.header {
  margin: 0px;
  padding: 5px;
	position: relative;
}
