<font color ="003366" face ="Arial"><h1><left>Disciplinas</left></h1> </font>
<body background="https://matriculaweb.unb.br/matriculaweb/imagens/fundo_main.gif">
<font face="Arial"><table STYLE="border: 1px solid #E7E7E7" cellpadding="5" cellspacing="0"></font>
<%= link_to 'Voltar para lista de Departamentos', action: 'showDepartamentos', id: 1 %></td>
<tr bgcolor="6B9A8C" >

	<th>Codigo</td>
	<th >&nbsp;</td>
	<th >Nome</td>
		

</tr>

<% disciplina = @disciplina.disciplinas%>
<% disciplina.each do|disciplina| %>
<% if disciplina.id % 2 == 0 %>
	<tr bgcolor="E7F3D6" >
<% else %>
	<tr bgcolor="FFF7F7" > <%#branco%>
<% end %>	
<td ><%= disciplina.codigo %></td>
<td>&nbsp&nbsp&nbsp&nbsp</td>
<td><%= link_to disciplina.nome, action: 'showTurmas', id: disciplina %></td>
</tr>
<% end %>
</table>
<%= link_to 'Voltar para lista de Departamentos', action: 'showDepartamentos', id: 1 %></td>
</body>
