<h1>Departamentos</h1>
<font face="Arial"><table STYLE="border: 1px solid #E7E7E7" cellpadding="5" cellspacing="0"></font>
<tr bgcolor="6B9A8C" >

	<th>Codigo</td>
	<th>Sigla</td>
	<th>Departamento</td>

</tr>
<% departamento = @departamento.departamentos %>
<% departamento.each do|departamento| %>
<% if departamento.id % 2 == 0 %>
	<tr bgcolor="E7F3D6" >
<% else %>
	<tr bgcolor="FFF7F7" > <%#branco%>
<% end %>
<td><%= departamento.codigo %></td>
<td><%= departamento.sigla %></td>
<td><%= link_to departamento.nome, action: 'showDisciplinas', id: departamento %></td>
</tr>
<% end %>
</table>
</body>
