<h1>Horários e Turmas</h1>

<% turma = @turma.turmas %>
<% turma.each do|turma| %>
<font face="Arial"><table></font>

<tr>
	<table STYLE="border: 1px solid #E7E7E7" cellpadding="5" cellspacing="0">
<%if user_signed_in?%>

		<% if User.where("email like ? and id = ?",'%@aluno.unb.br', current_user.id).count == 1%>
		<th>	Turma: <%= link_to turma.nome, action: 'showTurma', id: turma.id %>
			<%else%>
			<tr bgcolor="E7F3D6" >
				<th>	Turma: <%= turma.nome%></td>
				</tr>
		<%end%>
<%end%>


	<tr bgcolor="6B9A8C" >
		<th>Horarios & Local</td>
	</tr>
	<% horario = turma.horarios %>
	<% horario.each do|horario| %>
	<% if horario.id % 2 == 0 %>
		<tr bgcolor="E7F3D6" > <%#branco%>
	<% else %>
		<tr bgcolor="FFF7F7" > <%#verde%>
	<% end %>
	<td><%= horario.nome %></td>
	</tr>
	<% end %>

	<tr bgcolor="6B9A8C">
		<th>Professores</td>
	</tr>
	<% docente = turma.docentes%>
	<% docente.each do|docente| %>
	<% if docente.id % 2 == 0 %>
		<tr bgcolor="E7F3D6" >
	<% else %>
		<tr bgcolor="FFF7F7" >
	<% end %>
	<td><%= docente.nome %></td>
	</tr>
	<% end %>
	</table>
		</tr>
<% end %>
</table>
</body>
