<font face="Arial"><h1><center>Universidade de Brasilia</center></h1></font>
<body background="https://matriculaweb.unb.br/matriculaweb/imagens/fundo_main.gif">
<font face="Arial"><table STYLE="border: 1px solid #E7E7E7" cellpadding="5" cellspacing="0"></font>
<tr text="white" bgcolor="6B9A8C" >


	<th>Painel de configuraçoes</td>
</tr>
</table>


<form action="setbolsas">
		<p>Total de bolsas</p>
		<input type="number" name="total">
    <input type="submit" value="setbolsas">
</form>

<form action="rungetdb">
    <input type="submit" value="getDB">
</form>

<form action="runalocabolsas">
    <input type="submit" value="AlocaBolsas">
</form>
</body>
