<h1>Editar candidato</h1>

<%= render 'form' %>

<% se = User.where("email like ? and id = ?",'%@aluno.unb.br', current_user.id).count %>

<% if se == 1 %>
  <br/><%= link_to 'Voltar', candidatos_path %>
<% else %>
  <br/><%=link_to "Voltar", controller: "docentes", action: "listar"%>
<% end%>
